<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blogxin.sharding.mappper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="cn.blogxin.sharding.entity.OrderInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, order_id, status, remark
    </sql>

    <!--<select id="getAll" resultMap="BaseResultMap"  >-->
    <!--SELECT -->
    <!--<include refid="Base_Column_List" />-->
    <!--FROM users-->
    <!--</select>-->

    <select id="query" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_info
        WHERE order_id = #{orderId}
    </select>

    <select id="query2" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM order_info
        WHERE order_id = #{orderId}  and status = #{status}
    </select>

    <insert id="insert" parameterType="cn.blogxin.sharding.entity.OrderInfo">
       INSERT INTO 
       		order_info
       		(order_id,status,remark)
       	VALUES
       		(#{orderId}, #{status}, #{remark})
    </insert>

    <insert id="insert2" parameterType="cn.blogxin.sharding.entity.OrderInfo">
        INSERT INTO
        order_info
        (order_id,status,remark)
        VALUES
        (#{orderId}, #{orderInfo.status}, #{orderInfo.remark})
    </insert>

    <update id="update" parameterType="cn.blogxin.sharding.entity.OrderInfo">
       UPDATE
        order_info
       SET 
       	status = #{status}
       WHERE 
       		order_id = #{orderId}
    </update>

    <delete id="delete" parameterType="java.lang.String">
       DELETE FROM
       		 order_info
       WHERE 
       		 order_id =#{orderId}
    </delete>

</mapper>